/* From Uiverse.io by vinodjangid07 */ 
.cardContainer {
  width: 200px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition-duration: .5s;
  cursor: pointer;
}

.profileDiv {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(24, 24, 24, 0);
  transition-duration: .5s;
  color: rgb(0, 255, 30);
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.cardContainer:hover .profileDiv {
  transform: translateX(-25%) translateY(-20%);
  transition-duration: .5s;
}

.infoDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(43, 255, 0, 0.256);
  z-index: 1;
}

.nameDiv {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color:  rgba(43, 255, 0, 0.256);
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  gap: 2px;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.role {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}

.socialDiv {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  gap: 25px;
}

.infoDiv a {
  width: 50%;
}

.socials {
  width: 100%;
  fill: rgb(255, 255, 255);
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  --s: 6em;
  --d: 0.3em;
  --bg: #23222800;
  --fg: rgb(90, 92, 102);
  background-color: var(--bg);
  background-image: radial-gradient(
      var(--d) var(--d) at var(--d) var(--d),
      var(--fg) 100%,
      transparent 100%
    ),
    radial-gradient(
      var(--d) var(--d) at calc(var(--d) + 33.3%) var(--d),
      var(--fg) 100%,
      transparent 100%
    ),
    radial-gradient(
      var(--d) var(--d) at calc(var(--d) + 50%) calc(var(--d) + 50%),
      var(--fg) 100%,
      transparent 100%
    ),
    radial-gradient(
      var(--d) var(--d) at calc(var(--d) + 83.3%) calc(var(--d) + 50%),
      var(--fg) 100%,
      transparent 100%
    );
  background-size: var(--s) calc(var(--s) * 0.577350269);

  /* 2 maskeyi üst üste bindir: biri dikey, biri çapraz */
  -webkit-mask-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-composite: multiply;

  mask-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-composite: intersect;

  /* Safari desteği için */
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
